/* GENERAL */

body {
  max-width: 50rem;
  margin: 0 auto;
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
  padding: 4rem 1rem;
}

/* GRID */

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1px;
}

.main-grid-item {
  padding-right: 1rem;
  border-top: 1px solid #000;
}

.main-grid-item:nth-child(1) {
  border: 0;
}

.sub-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sub-grid-item {

}

.sub-sub-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.sub-sub-grid-item {
  
}

.technical-grid-item {
  border-top: 1px solid #000;
}

.technical-grid-item:nth-child(1),
.technical-grid-item:nth-child(2),
.technical-grid-item:nth-child(3) {
  border: 0;
}

.grid-item-span-3 {
  grid-column-end: span 3;
}

.grid-item-span-4 {
  grid-column-end: span 4;
}

